#gl-canvas 
{
    z-index: 0;
    display: block;
}

#canvas-overlay 
{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}

/* .litegui-maincontent 
{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    z-index: 2;
} */

p 
{
    user-select: none;
}

html, body 
{
    margin: 0;
    padding: 0;
}

body 
{
    overflow: hidden;
}