#gl-canvas 
{
    z-index: 0;
    display: block;
}

#canvas-overlay 
{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1;
}

p 
{
    user-select: none;
}

html, body 
{
    margin: 0;
    padding: 0;
}